mainline/WebSocketTutorial/Client.Web/Service References/CommunicationControllerService/WebSocketService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebSocketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56936/WebSocketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56936/WebSocketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56936/WebSocketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebSocketService_ReverseCommunication_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseCommunication" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_ReverseCommunication_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseCommunicationResponse" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_GetTemperatures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemperatures" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_GetTemperatures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemperaturesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebSocketService">
    <wsdl:operation name="ReverseCommunication">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSocketService/ReverseCommunication" message="tns:IWebSocketService_ReverseCommunication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSocketService/ReverseCommunicationResponse" message="tns:IWebSocketService_ReverseCommunication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemperatures">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSocketService/GetTemperatures" message="tns:IWebSocketService_GetTemperatures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSocketService/GetTemperaturesResponse" message="tns:IWebSocketService_GetTemperatures_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebSocketService" type="tns:IWebSocketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReverseCommunication">
      <soap:operation soapAction="http://tempuri.org/IWebSocketService/ReverseCommunication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatures">
      <soap:operation soapAction="http://tempuri.org/IWebSocketService/GetTemperatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSocketService">
    <wsdl:port name="BasicHttpBinding_IWebSocketService" binding="tns:BasicHttpBinding_IWebSocketService">
      <soap:address location="http://localhost:56936/WebSocketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>