mainline/WebSocketTutorial/Client.Web/Service References/CommunicationControllerService/WebSocketService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThermoTemps">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoolingVent" type="xs:int" />
      <xs:element minOccurs="0" name="Fan" type="xs:int" />
      <xs:element minOccurs="0" name="Freezer" type="xs:int" />
      <xs:element minOccurs="0" name="Fridge" type="xs:int" />
      <xs:element minOccurs="0" name="IceMaker" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThermoTemps" nillable="true" type="tns:ThermoTemps" />
</xs:schema>